<ion-header>
  <ion-toolbar color="dark">
    <ion-title><ion-icon name="cart-sharp"></ion-icon>
      Shopping Cart
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color = "dark" (click) ='navtocart()'>
      <ion-icon name="cart-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-list>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="shirt-outline"></ion-icon>
        </ion-card-title>
        <ion-button color="dark" (click) = 'navtomenclothing()' >MEN WEAR</ion-button>
      </ion-card-header>
    </ion-card>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="woman-sharp"></ion-icon>
        </ion-card-title>
        <ion-button color="dark" (click) = 'navtowomenclothing()' >WOMEN WEAR</ion-button>
      </ion-card-header>
    </ion-card>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="watch-outline"></ion-icon>
        </ion-card-title>
        <ion-button color="dark" (click) = 'navtoaccessories()' >ACCESSORIES</ion-button>
      </ion-card-header>
    </ion-card>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="phone-portrait-sharp"></ion-icon>
        </ion-card-title>
        <ion-button color="dark" (click) = 'navtoelectronics()' >ELECTRONICS</ion-button>
      </ion-card-header>
    </ion-card>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="restaurant-sharp"></ion-icon>
        </ion-card-title>
        <ion-button color="dark" (click) = 'navtocookware()' >COOKWARE</ion-button>
      </ion-card-header>
    </ion-card>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="library-sharp"></ion-icon>
        </ion-card-title>
        <ion-button color="dark" (click) = 'navtobooksandstationery()' >BOOKS AND STATIONERY</ion-button>
      </ion-card-header>
    </ion-card>
  
  </ion-list>
</ion-content>


  