<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size=1>
    <ion-row>
      <ion-button color="dark" (click) = 'womenclothing()' ><ion-icon name="woman-sharp"></ion-icon>WOMEN CLOTHING</ion-button>
    </ion-row>
  </ion-col>  
  <ion-col size=1>
    <ion-row>
     <ion-button color="dark" (click) = 'menclothing()' ><ion-icon name="shirt-outline"></ion-icon>MEN CLOTHING</ion-button>
    </ion-row>
  </ion-col>
  <ion-col size=1>
    <ion-row>
     <ion-button color="dark" (click) = 'accessories()' ><ion-icon name="watch-outline"></ion-icon>ACCESSORIES</ion-button>
    </ion-row>
  </ion-col>
  <ion-col size=1>
    <ion-row>
     <ion-button color="dark" (click) = 'electronics()' ><ion-icon name="phone-portrait-sharp"></ion-icon>ELECTRONICS</ion-button>
    </ion-row>
  </ion-col>
  <ion-col size=1>
    <ion-row>
     <ion-button color="dark" (click) = 'cookware()' ><ion-icon name="cafe"></ion-icon>COOKWARE</ion-button>
    </ion-row>
  </ion-col>
  <ion-col size=1>
    <ion-row>
     <ion-button color="dark" (click) = 'booksandstationery()' ><ion-icon name="library-sharp"></ion-icon>BOOKS AND STATIONERY</ion-button>
    </ion-row>
  </ion-col>
</ion-content>
